* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto' , sans-serif;
   font-size: 62.5%; /* 1rem = 10px */

}  

body {
    /* background: #E3F2FD; */
    background: #D3D3D3
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.8rem;
    color: #fff;
    font-weight: 500;
    background: #58AAF4;
    background: linear-gradient(to right, #58AAF4, #053B66);

    

}

.container {
    display:flex;
    gap: 3.5rem;
    padding: 3rem;

}

.weather-input {
    width:50rem;

}

.weather-input h2 {
    font-size: 2.3rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.weather-input input {
    height: 4.5rem;
    width: 100%;
    outline: none;
    font-size: 2rem;
    padding: 0 1.7rem;
    margin: 1rem 0 3rem 0;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.weather-input input:focus {
    padding: 0 1.6rem;
    border: 2px solid #053B66;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 2.5rem 0;
    background: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

}

.weather-input .separator::before {
    content: "or";
    color: #6c757d;
    font-size: 2rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #D3D3D3


}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    color: #fff;
    background: #58AAF4;
    transition: 0.2s ease;
  }
  .weather-input .search-btn:hover {
    background: #053B66;
  }
  .weather-input .history-btn {
    background: #6C757D;
  }
  .weather-input .history-btn:hover {
    background: #5c636a;
  }

  .weather-data {
    width: 100%;
  }

  .weather-data .current-weather {
    color: #000;
    /* background: #5372F0; */
    border-radius: 0.5rem;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
    border: 0.2rem solid #000;
    

  }

  .current-weather h3 {
    font-weight: 700;
    font-size: 2.2rem;
  }

  .weather-data h4 {
    margin-top: 12px;
    font-size: 1.9rem;
    font-weight: 500;
  }
 
  
  
  /* Cards for 5 day weather forecast */
  
  
  .five-days-forecast h5 {
    margin: 8rem 0;
    font-size: 2.7rem;
    font-weight: 800;
  }
  .five-days-forecast .weather-cards {
    display: flex;
    gap: 20px;
  }
  .weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6C757D;
    border-radius: 5px;
  }
  .weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }